################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EtelfutarAPI/obj
/EtelfutarWPF/obj
/.vs
/EtelfutarWPF/bin/Debug/net7.0-windows
