/*

Classes

*/

/*

Css for the constant elements (header, footer, nav)

*/

.App{
  display: flex;
  flex-direction: column;
  color: hsl(0, 0%, 100%);
  min-height: 100%;
  background-color: hsl(0, 0%, 100%);
  padding:30px;
}

.nav {
  flex-direction: row-reverse;
  list-style-type: none;
  color: hsl(0, 0%, 100%);
  width: fit-content;
  margin-left: auto;
}

.nav li {
  margin-left: auto;
  display: block;
  text-align: center;
  padding-top: 15px;
}

.nav li a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  padding: 15px;
}

.nav li:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 15%);
}

.nav a.active {
  color: hsl(350, 100%, 35%);
}

/*

Css for the reusable elements

*/

.button {
  display: inline-block;
  width: fit-content;
  text-align: center;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  padding: 12px;
  background-color: hsl(350, 100%, 35%);
  border-radius: 10px;
  height: fit-content;
  border: none;
}

.button:hover {
  background-color: hsl(350, 100%, 25%);
  cursor: pointer;
}

/* 

Css for the pages required to order food

*/

.selector {
  position: relative;
  background-size: cover;
  text-align: center;
  text-shadow: 2px 2px hsl(0, 0%, 0%);
  display: inline-block;
}

.selector a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  background-color:hsl(350, 100%, 35%);
  box-shadow: 2px 2px 5px hsl(350, 100%, 25%);
}

.selector a:hover {
  background-color: hsl(350, 100%, 25%);
  box-shadow: 2px 2px 5px hsl(350, 100%, 15%)
  
}

.selector div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.city {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  margin: 10px;
}

.city a {
  width: 250px;
  height: 250px;
  border-radius: 100%;
}

.city a:hover {
  width: 260px;
  height: 260px;
}

.restaurant {
  width: 250px;
  height: 250px;
  border-radius: 60px;
  margin: 10px;
}

.restaurant a {
  width: 250px;
  height: 250px;
  border-radius: 60px;
}

.restaurant a:hover {
  width: 260px;
  height: 260px;
}

.food {
  width: 450px;
  height: 250px;
  border-radius: 60px;
  margin: 10px;
}

.food a {
  width: 450px;
  height: 250px;
  border-radius: 60px;
}

.food a:hover {
  width: 460px;
  height: 260px;
}

.food div{
  margin-top: 80px;
  transform: translate(-50%, -50%);
  font-size: 75%;
}

/*

Css for Sign in and Sign up pages

*/

.SignPanel{
  width: 30%;
  height: 100%;
  background-color: hsl(0, 0%, 25%);
  border-radius: 30px;
}

.SignPanel h1{
  text-align: center;
  padding: 20px;
}

.Form{
  display: flex;
  flex-direction: column;
  padding: 60px;
  padding-top: 30px;
}

.Form button{
  color: hsl(0, 0%, 100%);
  background-color: hsl(350, 100%, 35%);
  margin: 50px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.Form button:hover{
  color: hsl(0, 0%, 100%);
  background-color: hsl(350, 100%, 25%);
}

.Form select:hover{
  background-color: hsl(0, 0%, 95%);
}

/*

Ids

*/

#Order {
  background-color: hsl(0, 0%, 25%);
  height: fit-content;
  min-height: 100px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 30px;
}

#banner {
  background-image: url("img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  background-position: bottom;
  text-shadow: 1px 1px hsl(0, 0%, 0%);
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

#banner h1:hover {
  text-shadow: 2px 2px hsl(0, 0%, 0%);
  cursor: pointer;
}

#footer {
  text-align: center;
  padding: 7px;
  background-color: hsl(350, 100%, 35%);
  color: hsl(0, 0%, 100%);
  width: 100%;
}

/*

Tags

*/

body{
  background-color: hsl(350, 100%, 35%);
}

select {
  background-color: hsl(0, 0%, 25%);
  border: none;
  color: hsl(0, 0%, 100%);
  padding: 15px;
}

select:hover {
  background-color: hsl(0, 0%, 15%);
}